amqp==2.5.1
billiard==3.6.1.0
celery==4.3.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Django==2.2.4
djangorestframework==3.10.2
idna==2.8
importlib-metadata==0.19
kombu==4.6.4
more-itertools==7.2.0
pika==1.1.0
pycparser==2.19
pytz==2019.2
rabbitmq==0.2.0
rabbitmq-admin==0.2
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
vine==1.3.0
zipp==0.6.0
